    body{
        background-image: url('file:///C:/Users/sighm/lc101/html-me-something/images/backgroundBasementMike.jpg');
        background-size: 1920px 1080px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }
    h1{
        position: fixed;
        width: fixed;
        font-size: 100px;
        bottom: 580;
        left: 850;
        }
    p{
        position: relative;
        font-size: 75px;
    }
    iframe{
        position: fixed;
        top: 150px;
        left: 920px;
    }
    h2{
        position: relative;
        bottom: 375;
        left: 775;
    }
    h3{
        position: relative;
        bottom: 375;
        left: 550;
    }
    img {
        border: 5px solid #555;
        position: relative;
        top: 500;
        left: 401;
      }
  
